@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-radial-dark {
    background: radial-gradient(circle at center, #312e81 0%, #111827 40%, #000000 100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}